In [25]:
#import numpy & pandas module 
import numpy as np
import pandas as pd

# a dictionary to create a series
data = {'Chips':pd.Series(['Simba', 'Lays'], index =[1,2]),
        'Cooldrink':pd.Series(['Coke', 'Fanta'], index = [1,2]), 
        'Chocolate':pd.Series(['Cadbury','Tex'], index = [1,2]), 
        'Pies':pd.Series(['Pepper Steak', 'Chicken'], index = [1,2]), 
        'Fruit':pd.Series(['Pear','Apple', 'Orange'], index = [1,2,3]), 
        'Cupcakes': pd.Series(['Vanilla', 'Chocolate'], index = [1,2]), 
        'Veggies': pd.Series(['Spinach','Cabbage'], index = [1,2])} 
#create a dataframe from the data
df = pd.DataFrame(data)

df

   Chips Cooldrink Chocolate          Pies   Fruit   Cupcakes  Veggies
1  Simba      Coke   Cadbury  Pepper Steak    Pear    Vanilla  Spinach
2   Lays     Fanta       Tex       Chicken   Apple  Chocolate  Cabbage
3    NaN       NaN       NaN           NaN  Orange        NaN      NaN

In [39]:
df.head(3).style.set_table_styles(
[{'selector': 'th',
  'props': [('background', 'green'), 
            ('color', 'white'),
            ('font-family', 'verdana')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', '#DCDCDC')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
  
 {'selector': 'tr:hover',
  'props': [('background-color', '#78FF33')]}
]
).hide_index()